### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

### Loading Data

In [8]:
df = pd.read_csv('Pokemon.csv')

### Inspecting Dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   number      1072 non-null   int64
 1   name        1072 non-null   object
 2   type1       1072 non-null   object
 3   type2       574 non-null    object
 4   total       1072 non-null   int64
 5   hp          1072 non-null   int64
 6   attack      1072 non-null   int64
 7   defense     1072 non-null   int64
 8   sp_attack   1072 non-null   int64
 9   sp_defense  1072 non-null   int64
 10  speed       1072 non-null   int64
 11  generation  1072 non-null   int64
 12  legendary   1072 non-null   bool
dtypes: bool(1), int64(9), object(3)
memory usage: 101.7+ KB

In [9]:
df.columns

Index(['number', 'name', 'type1', 'type2', 'total', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'generation', 'legendary'],
      dtype='object')

In [13]:
print(df[['name', 'type1', 'type2']][0:11])

                    name  type1   type2
0              Bulbasaur  Grass  Poison
1                Ivysaur  Grass  Poison
2               Venusaur  Grass  Poison
3          Mega Venusaur  Grass  Poison
4    Gigantamax Venusaur  Grass  Poison
5             Charmander   Fire     NaN
6             Charmeleon   Fire     NaN
7              Charizard   Fire  Flying
8       Mega Charizard X   Fire  Dragon
9       Mega Charizard Y   Fire  Flying
10  Gigantamax Charizard   Fire  Flying

In [14]:
print(df.iloc[1:6])

   number                 name  type1   type2  total  hp  attack  defense  \
1       2              Ivysaur  Grass  Poison    405  60      62       63
2       3             Venusaur  Grass  Poison    525  80      82       83
3       3        Mega Venusaur  Grass  Poison    625  80     100      123
4       3  Gigantamax Venusaur  Grass  Poison    525  80      82       83
5       4           Charmander   Fire     NaN    309  39      52       43

   sp_attack  sp_defense  speed  generation  legendary
1         80          80     60           1      False
2        100         100     80           1      False
3        122         120     80           1      False
4        100         100     80           1      False
5         60          50     65           1      False

In [95]:
df.loc[df['type1'] == 'Fire'].sort_values('type1', ascending = True).head()

,number,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,total new,Total,Legendary,count
5,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309,309,True,1
563,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False,540,540,True,1
587,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True,600,600,True,1
602,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False,308,308,True,1
603,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418,418,True,1

### Sorting

In [96]:
df.sort_values(['attack', 'hp'], ascending = [0,1]).head()

,number,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,total new,Total,Legendary,count
204,150,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780,780,NaN,1
274,214,Mega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,600,600,NaN,1
937,798,Kartana,Grass,Steel,59,181,131,59,31,109,7,False,570,570,NaN,1
474,386,Deoxys Attack Forme,Psychic,NaN,50,180,20,180,20,150,3,True,600,600,NaN,1
469,383,Primal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770,770,NaN,1

### Tweaking Datasets

df = df.drop(columns=['total'])
df.head()

In [37]:
df['Total'] = df.iloc[:,4:10].sum(axis = 1)
df.head()

,number,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,total new,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,525
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,625
4,3,Gigantamax Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,525

### Filtering Data

df.loc[(df['type1'] == 'Grass') | (df['type2'] == 'Poison') & df['hp'] > 80].sort_values('attack', ascending = False)  #OR

In [52]:
new_df= df.loc[(df['type1'] == 'Grass') & (df['type2'] == 'Poison')].sort_values('attack', ascending = False) # AND

In [53]:
new_df = new_df.reset_index(drop = True)
new_df

,number,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,total new,Total
0,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490,490
1,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,625
2,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390,390
3,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464,464
4,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,525
5,3,Gigantamax Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,525
6,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490,490
7,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,300,300
8,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,515,515
9,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395,395
10,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,405
11,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False,400,400
12,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False,294,294
13,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320,320
14,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,318
15,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False,280,280

#### Filtering names comtaining Mega

In [56]:
df.loc[~df['name'].str.contains('Mega')]  # (~) drop mega

,number,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,total new,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,525
4,3,Gigantamax Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,525
5,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067,896,Glastrier,Ice,NaN,100,145,130,65,110,30,8,True,580,580
1068,897,Spectrier,Ghost,NaN,100,65,60,145,80,130,8,True,580,580
1069,898,Calyrex,Psychic,Grass,100,80,80,80,80,80,8,True,500,500
1070,898,Ice Rider Calyrex,Psychic,Ice,100,165,150,85,130,50,8,True,680,680
1071,898,Shadow Rider Calyrex,Psychic,Ghost,100,85,80,165,100,150,8,True,680,680

### Regular Expression Lib

In [63]:
import re
df.loc[df['type1'].str.contains('Fire|Grass', flags = re.I, regex=True)]

,number,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,total new,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,525
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,625
4,3,Gigantamax Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,842,Appletun,Grass,Dragon,110,85,80,100,80,30,8,False,485,485
994,842,Gigantamax Appletun,Grass,Dragon,110,85,80,100,80,30,8,False,485,485
1005,850,Sizzlipede,Fire,Bug,50,65,45,50,50,45,8,False,305,305
1006,851,Centiskorch,Fire,Bug,100,115,65,90,90,65,8,False,525,525
1007,851,Gigantamax Centiskorch,Fire,Bug,100,115,65,90,90,65,8,False,525,525

In [66]:
df.loc[df['name'].str.contains('^pi[a-z]*', flags = re.I, regex=True)]  #names starting with Pi usning ^

,number,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,total new,Total
24,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251,251
25,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349,349
26,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479,479
36,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320,320
171,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500,500
227,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205,205
261,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290,290
281,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450,450
483,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314,314
603,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418,418
623,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264,264
863,731,Pikipek,Normal,Flying,35,75,30,30,30,65,7,False,265,265
1030,871,Pincurchin,Electric,NaN,48,101,95,91,85,15,8,False,435,435

### Conditional changes

In [74]:
df.loc[df['type1']  == 'Fire', 'Legendary'] = True
df.head(3)

,number,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,total new,Total,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,318,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,405,NaN
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,525,NaN

In [82]:
df.loc[df['Total'] > 500,  ['generation', 'legendary']] == ['T1', 'T2']
df.head()

,number,name,type1,type2,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,total new,Total,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,318,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,405,NaN
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,525,NaN
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,625,NaN
4,3,Gigantamax Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,525,NaN

### Aggregate Function

#### Groupby

In [89]:
df.groupby(['type1']).mean().sort_values('hp', ascending = False)

,number,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,total new,Total
type1,,,,,,,,,,,
Dragon,549.219512,85.243902,107.024390,83.926829,91.731707,84.097561,84.341463,4.609756,0.365854,536.365854,536.365854
Blastoise,9.000000,79.000000,83.000000,100.000000,85.000000,105.000000,78.000000,1.000000,0.000000,530.000000,530.000000
Normal,375.717949,77.358974,75.128205,60.811966,56.666667,64.495726,69.085470,3.572650,0.034188,403.547009,403.547009
Poison,347.190476,75.095238,76.095238,76.857143,69.047619,72.952381,66.142857,4.095238,0.047619,436.190476,436.190476
Fighting,507.644444,74.511111,104.733333,74.977778,57.755556,68.222222,72.111111,4.977778,0.200000,452.311111,452.311111
Psychic,473.100000,73.212500,76.437500,72.500000,99.537500,87.625000,79.675000,4.587500,0.375000,488.987500,488.987500
Flying,760.555556,72.777778,76.444444,68.888889,71.555556,71.666667,84.777778,6.888889,0.222222,446.111111,446.111111
Fairy,556.000000,72.608696,67.739130,70.739130,80.304348,90.565217,59.739130,5.086957,0.130435,441.695652,441.695652
Steel,546.153846,72.564103,96.282051,116.743590,71.923077,75.512821,53.333333,4.461538,0.205128,486.358974,486.358974
Ice,456.263158,71.684211,78.000000,72.078947,70.184211,73.973684,67.026316,5.078947,0.078947,432.947368,432.947368
Dark,492.958333,71.312500,83.520833,67.166667,71.562500,69.062500,76.937500,5.333333,0.104167,439.562500,439.562500
Water,379.279412,71.132353,75.750000,73.477941,74.992647,71.397059,66.544118,3.573529,0.066176,433.294118,433.294118
Ground,418.547619,70.880952,93.952381,86.404762,54.833333,64.452381,62.023810,4.214286,0.095238,432.547619,432.547619
Fire,409.641791,70.014925,86.507463,68.283582,86.582090,71.850746,75.343284,4.074627,0.074627,458.582090,458.582090
Grass,442.393617,67.797872,76.170213,72.117021,75.574468,69.734043,60.042553,4.329787,0.042553,421.436170,421.436170
Rock,464.283333,67.516667,92.033333,99.300000,62.200000,73.633333,57.166667,4.483333,0.066667,451.850000,451.850000
Ghost,539.372093,64.697674,73.767442,79.488372,84.558140,78.720930,64.139535,4.883721,0.069767,445.372093,445.372093
Electric,480.904762,62.285714,74.952381,66.142857,89.539683,71.476190,85.936508,4.492063,0.111111,450.333333,450.333333
Graass,830.000000,60.000000,50.000000,90.000000,80.000000,120.000000,60.000000,8.000000,0.000000,460.000000,460.000000
Bug,400.156627,57.096386,70.325301,71.518072,56.831325,65.554217,63.421687,3.831325,0.012048,384.746988,384.746988

#### Count

In [93]:
df['count'] = 1
df.groupby(['type1']).count()['count']

type1
Blastoise      1
Bug           83
Dark          48
Dragon        41
Electric      63
Fairy         23
Fighting      45
Fire          67
Flying         9
Ghost         43
Graass         1
Grass         94
Ground        42
Ice           38
Normal       117
Poison        42
Psychic       80
Rock          60
Steel         39
Water        136
Name: count, dtype: int64